body { 
    background-color: #FFF4E8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-width: 340px;
}

.header {
    padding: 20px 0;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background-color: #fff4E8;
    z-index: 1000;
    border-bottom: solid 2px orange;
}
.nav-link {
    background-color: rgb(142, 176, 92);
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    line-height: 1em;  
    margin-bottom: 1vh;
}

.nav-link:hover {
    background-color: orange;
    color: rgb(142, 176, 92);
}
.intro-container {
    position: relative;
    height: 60vh;
    text-align: center;  
}

.intro-photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60vh;
}

.intro-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    opacity: 0.8;
}

p.intro {
    font-size: 1.5em;
    font-weight: 800;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 8vh;
    background: linear-gradient(90deg, #fff4E8, orange, #fff4E8,  orange, #fff4E8);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    animation: wave 3.3s linear infinite;
    
}

.logo_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo_title img {
    
    margin-left: 20px;
}
.nav {
    margin-right: 10px;
    list-style-type: none;
    text-align: left;
}
.nav a {
    text-decoration: none;
    color: orange;
    display: inline-block;
    font-size: 1.5em;
}




.presentation-container {
    background-color: white;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px orange;
    border-radius: 10px;
    max-width: 90%;
}
@media screen and (min-width: 1040px) {
    .presentation-container {
        flex-direction: row;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(142, 176, 92);
    transform: rotate(90deg);
    margin-right: 10px;
    transition: transform 0.5s
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5em;
    font-style: italic;
    font-weight: 700;
}

.activity-item:hover .triangle {
    transform: rotate(450deg);
}

.activity-item:hover {
    text-decoration: underline 2px orange;
}
.presentation-pic {
    width: 50%;
    margin: 1vh auto;

}

.presentation-pic img {
    border-radius: 10px;
}
@media screen and (min-width: 1040px) {
    .presentation-pic {
        width: 100%;
       
        margin-left: 5%;
    }
    .presentation-pic img {
        width: 500px;
        height: auto;
    }
}
@media screen and (min-width: 1480px) {
    .presentation-pic img {
        width: 600px;
        height: auto;
    }
    .nav a {
        font-size: 1.8em;
        margin-right: 2vh;
    }

}
h1, .pres-content-one, .pres-content-two{ 
    background-color: #fff4E8;
    color:black;
    font-weight: 500;
    font-size: 1.5em;
    margin: 20px auto;
    width: 85%;
    border: solid 2px orange;
    padding: 10px;
    border-radius: 10px;
}

.activity-list {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;;
    margin-left: 0;
    border: solid 2px orange;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#situation {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 10%;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.adresse {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px orange;
}

.localisation-container {
    margin: 10px auto;
    width: 80%;
    border: solid 2px orange;
    border-radius: 10px;
}

.localisation-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px orange;
}

.image-showcase {
    width: 80%;
    margin: 20px auto;
    height: 30vh; 
}

.equipments-container {
    display: flex;
    flex-direction: column;
}

.image-showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.pic { 
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic img {
    width: 400px;
    height: 300px;;
    object-fit: cover;
    border-radius: 30px;
}
.equipe-description {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px orange;
    font-size: 1.5em;
}

.lienzapier, .calendrierresa {
    margin: 20px auto;
    width: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border: solid 2px orange;
    background-color: white;
    border-radius: 10px;
}

.lienzapier p, .calendrierresa p{
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 3vh;
    text-align: center;
}

.zapier-link, .calendar-link {
    text-decoration: none;
}

.bigtriangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgb(142, 176, 92);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 2%;
    transition: transform 0.5s
}

.zapier-link:hover .bigtriangle, .calendar-link:hover .bigtriangle {
    transform: rotate(450deg);
}

.zapier-link:hover p, .calendar-link:hover p {
    text-decoration: underline 4px orange;
}

.contact-container, .links {
    width: 80%;
    margin: 20px auto;
}

.contact-item {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 2px orange;
    border-radius: 10px;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-reseaux {
    margin-left: 20px;
    border-radius: 10px;
}

.v-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-item p {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 2vh;
}

.top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.minitriangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(142, 176, 92);
    
    margin-bottom: 5px;
    transition: transform 0.5s
}

.top-button:hover .minitriangle {
    transform: rotate(360deg);
}

.partenaire-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 2px orange;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* responsiv mods */

@media screen and (min-width: 500px) {
    p.intro{
        font-size: 2.0em;
    }
}

@media screen and (min-width: 600px){
    .image-showcase {
        width: 80%;
        height: 40vh;
    }
}

@media screen and (min-width: 700px) {
    h1, .pres-content-one, .pres-content-two{
        width: 70%;
    }

    p.intro{
        font-size: 2.5em;
    }
}

@media screen and (min-width: 720px){
    .partenaire-item {
        flex-direction: row;
    }
}

@media screen and (min-width: 750px){
    .links, .contact-container {
        display: flex;
        flex-direction: column;
    }
    .links > *, .contact-item {
        width: 70% !important;
        margin: auto;
    }
}

@media screen and (min-width: 850px){
    .image-showcase {
        width: 70%;
        height: 40vh;
    }
}
@media screen and (min-width: 1040px){
    .equipments-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .pic {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .equipe-description {
        max-width: 500px;        
    }
    .image-showcase {
        width: 50%;   
    }
    #situation {
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin: 20px auto;
    }
    .localisation-container {
        max-width: 50%;
    }
    .adresse {
        max-width: 25%;
        height: 50%;
    }
    .footer-item {
        margin: 20px 0 20px 50px;;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav a {
        font-size: 1.6em;
        margin-right: 1vh;
    }
    .nav {
        display: flex;
        flex-direction: row;
    }
    .nav-link {
        width: auto;
        text-align: left;
        
    }
}

@media screen and (min-width: 1080px) {
    .links, .contact-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
     .contact-item {
        width: 45% !important;
        margin: auto;
    }
    h1, .pres-content-one, .pres-content-two{ 
        font-size: 2em;
    }
}
/* anims */

@keyframes wavy {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
@keyframes wave {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}


/* / ateliers /  main page /*/

.prochainevent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px orange;
}
.prochainevent h4, .prochainevent h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px auto;
}
.prochainevent a {
    text-decoration: none;
    color: orange;
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px auto;
}
.prochainevent a:hover {
    text-decoration: underline 2px orange;
}

/* archives liste ateliers */ 
.archive-title {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 20px auto;
}
.old-list-center {
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}
.archive {
    display: flex;
    flex-direction: column;
}
.archive-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.custom-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}